body{
font-style: a=normal;
background-color: #snow;
text-align: center;
color: darkblue
}
/*rectangle formatting */
.rectangles {
  height: 100px;
  width: 100px;
  background-color: #snow;
  border-radius: 50%;
  display: inline-block;
}
/*Color formatting */
#orange {
  Position: absolute
  top:25%;
  left: 25%;
  background-color: #ffb84d
}

#darkblue {
  Position: absolute
  top: 25%;
  right: 25%;
  background-color: #000099
}

#yellow {
  Position: absolute
  bottom: 25%;
  left: 25%;
  background-color: #ffd633
}
#Aqua {
  Position: absolute
  bottom: 25%;
  right: 25%;
  background-color: #00ffff
}
#Hotpink {
  Position: absolute
  bottom: 25%;
  right: 25%;
  background-color: ##ff3399

  <header class="menu">
   <p>Just a gal trying her best. -Going through some rough
   patches but its okay.:</p>
   <div class="menu-item display-inline">
      A2
   </div>
   <div class="menu-item display-inline">
      P1
   </div>
   <div class="menu-item display-inline">
      A3
   </div>
   <div class="menu-item display-inline">
      A4
   </div>
   <div class="menu-item display-inline">
    P2
   </div>
   <div class="menu-item display-inline">
    A5
   </div>
</header>.display-inline {
      display: inline;
  }
